.OwlDead {
  & > svg {
    animation: dead-owl 2s linear infinite;
    will-change: transform;
  }

  #OwlDeadLeftEye,
  #OwlDeadRightEye {
    &First,
    &Second {
      will-change: clip-path;
    }

    &First {
      animation: dead-eyes-first 3s linear infinite;
      clip-path: circle(0% at 0% 0%);
    }

    &Second {
      animation: dead-eyes-second 3s linear infinite;
      clip-path: circle(0% at 110% -10%);
    }
  }

  #OwlDeadDizzinessLine {
    &First,
    &Second,
    &Third {
      animation: shake 4s linear 1.5s infinite;
      opacity: 0;
      will-change: transform;
    }
  }

  #OwlDeadDizzinessStart {
    &First,
    &Second,
    &Third {
      will-change: transform;
    }

    &First {
      opacity: 0;
      animation: dead-start-first 4s linear 1.5s infinite;
    }

    &Second {
      opacity: 0;
      animation: dead-start-second 4s linear 1.5s infinite;
    }

    &Third {
      opacity: 0;
      animation: dead-start-third 4s linear 1.5s infinite;
    }
  }
}

@keyframes dead-owl {
  25% {
    transform: translateY(-1%);
  }

  75% {
    transform: translateY(1%);
  }
}

@keyframes dead-eyes-first {
  25% {
    clip-path: circle(150% at 0% 0%);
  }

  100% {
    clip-path: circle(150% at 0% 0%);
  }
}
@keyframes dead-eyes-second {
  25% {
    clip-path: circle(0% at 110% -10%);
  }

  50% {
    clip-path: circle(150% at 110% -10%);
  }

  100% {
    clip-path: circle(150% at 110% -10%);
  }
}

@keyframes dead-start-first {
  0% {
    opacity: 1;
    transform: scale(1.1);
  }

  12.5% {
    transform: translate(25%, 1%);
  }

  22.5% {
    transform: translate(42.5%, 3%);
  }

  25% {
    transform: translate(45%, 4%);
  }

  27.5% {
    transform: translate(42.5%, 5%);
  }

  37.5% {
    transform: translate(25%, 6%) scale(0.9);
  }

  50% {
    transform: translate(0%, 7%) scale(0.8);
  }

  62.5% {
    transform: translate(-25%, 6%) scale(0.9);
  }

  72.5% {
    transform: translate(-47.5%, 5%);
  }

  75% {
    transform: translate(-50%, 4%);
  }

  77.2% {
    transform: translate(-47.5%, 3%);
  }

  87.5% {
    transform: translate(-25%, 1%);
  }

  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes dead-start-second {
  0% {
    opacity: 1;
  }

  12.5% {
    transform: translate(-25%, -1%);
  }

  22.5% {
    transform: translate(-42.5%, -3%);
  }

  25% {
    transform: translate(-45%, -4%);
  }

  27.5% {
    transform: translate(-42.5%, -5%);
  }

  37.5% {
    transform: translate(-25%, -6%) scale(1.1);
  }

  50% {
    transform: translate(0%, -7%) scale(1.2);
  }

  62.5% {
    transform: translate(25%, -6%) scale(1.1);
  }

  72.5% {
    transform: translate(47.5%, -5%);
  }

  75% {
    transform: translate(50%, -4%);
  }

  77.2% {
    transform: translate(47.5%, -3%);
  }

  87.5% {
    transform: translate(25%, -1%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes dead-start-third {
  0% {
    opacity: 1;
  }

  2.5% {
    transform: translate(5%, -0.6%);
  }

  12.5% {
    transform: translate(25%, -1.5%);
  }

  25% {
    transform: translate(50%, -2%);
  }

  37.5% {
    transform: translate(70%, -1%);
  }

  47.5% {
    transform: translate(85%, -0.5%);
  }

  50% {
    transform: translate(90%, 0%);
  }

  52.5% {
    transform: translate(87%, 1%);
  }

  62.5% {
    transform: translate(70%, 3%) scale(0.9);
  }

  75% {
    transform: translate(50%, 4%) scale(0.8);
  }

  87.5% {
    transform: translate(25%, 3%) scale(0.9);
  }

  97.5% {
    transform: translate(5%, 1%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    opacity: 0;
    transform: translate(0.1%, 0.1%) rotate(0deg);
  }
  10% {
    transform: translate(-0.1%, -0.2%) rotate(-1deg);
  }
  20% {
    transform: translate(-0.3%, 0%) rotate(1deg);
  }
  30% {
    transform: translate(0.3%, 0.2%) rotate(0deg);
  }
  40% {
    transform: translate(0.1%, -0.1%) rotate(1deg);
  }
  50% {
    opacity: 1;
    transform: translate(-0.1%, 0.2%) rotate(-1deg);
  }
  60% {
    transform: translate(-0.3%, 0.1%) rotate(0deg);
  }
  70% {
    transform: translate(0.3%, 0.1%) rotate(-1deg);
  }
  80% {
    transform: translate(-0.1%, -0.1%) rotate(1deg);
  }
  90% {
    transform: translate(0.1%, 0.2%) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translate(0.1%, -0.2%) rotate(-1deg);
  }
}
